/* 
 *{
    border: 1px solid red;
    
}  */
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

.navigation-container ul {
  list-style-type: none;
}

.navigation-container li {
  display: inline;
  padding: 10px;
}

.navigation-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navigation-container a:hover {
  border-bottom: 3px solid red;
}

.navigation-container .active {
  background-color: red;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 3vw;
}

/* hamburger */
#ham {
  width: 45px;
  height: 38px;
  position: relative;
  margin: 0 10px;
  margin-top: 5px;
  /* margin-right: 20px; */
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

#ham span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

#ham span:nth-child(1) {
  top: 5px;
}

#ham span:nth-child(2),
#ham span:nth-child(3) {
  top: 18px;
}

#ham span:nth-child(4) {
  top: 32px;
}

#ham:hover span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#ham:hover span:nth-child(2) {
  transform: rotate(45deg);
}

#ham:hover span:nth-child(3) {
  transform: rotate(-45deg);
}

#ham:hover span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* //hamburger */

.banner-container {
  width: 99.6%;
  height: 97vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.banner {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 5vw;
}

.banner p {
  font-size: 2vw;
}

.banner a {
  text-decoration: none;
  color: white;
  padding: 15px 40px;
  background-color: #ca5d5d;
  box-shadow: 0 7px #bd0000;
  border-radius: 4px;
  display: inline-block;
  opacity: 0.8;
  cursor: pointer;
}

.banner a:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.about {
  margin: 2vh;
}
.about-header p {
  font-size: 18px;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #f13311;
  left: 0;
  margin-left: 16px;
  font-size: 32px;
}

.about-container {
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.about-content {
  margin-right: 60px;
  padding-right: 40px;
}

.about-content .fa-angle-right,
.about-education .fa-angle-right {
  font-weight: 900;
  color: red;
}

.about-education .content {
  width: 60%;
  /* padding-left: 50px; */
}

.about-education {
  margin-left: 50px;
}

.internship-container {
  padding: 0 12px;
}

.internship-container .internships {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.internship-container .card {
  box-shadow: 4px 4px 8px 0 rgba(250, 46, 46, 0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  margin: 20px auto;
}

.internship-container .card:hover {
  box-shadow: 8px 8px 16px 0 rgba(255, 79, 79, 0.2);
}

.internship-container .card .card-content {
  padding: 2px 16px;
}

.card .line {
  border-bottom: 1px solid red;
  margin: 2px 0;
}

footer {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-links a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.copy span {
  color: #f13311;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .banner p {
    font-size: 5vw !important;
  }

  .about-container {
    display: block;
  }

  .about-content {
    padding-left: 10vw;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .navigation-container ul {
    display: none !important;
  }
  #ham {
    display: block;
  }
  .banner-heading {
    font-size: 8vw !important;
  }

  .banner p {
    font-size: 3vw;
    text-align: center;
  }

  .about {
    height: 100%;
  }

  .about-education .content {
    width: 80%;
  }

  .about-education {
    margin-left: 10vw;
  }
  .about-container {
    flex-wrap: wrap;
  }
  .internship-container .internships {
    display: block;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .about-content {
    padding-right: 0px;
  }
  .card {
    width: 85%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .card {
    width: 75%;
  }
}
