body{
    margin: 0;
}
.header-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.navigation-container ul{
    list-style-type: none;
}

.navigation-container li{
    display: inline;
    padding: 10px;
}


.navigation-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navigation-container a:hover{
    border-bottom: 2px solid red;
}

.navigation-container .active{
    background-color: red;
}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 3vw;
}

.banner-container{
    width: 99.6%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
       
}

.banner h1{
    font-size: 5vw;
}

.banner p{
    font-size: 2vw;
}

.banner button{
    padding: 5px;
}